@import '../../sass/base/colors';
.header{
    color: $pl-text-filled;
    font-family: 'Nunito', sans-serif;
    font-style: Regular;
    font-size: 40px;
    line-height: 40px;
    
    }

.vector1{
    margin-top: 50px;
    max-width: 50vw;
   max-height: 50vh;
}
.imageContainer{
    background-color: bisque;
}